*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-color: #f9dc00;
    color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffe100' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
font-size: 16px;
font-family: 'Oswald', sans-serif;
}

a{
    color:black;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90;
    margin: auto;
}

.nav-main{
    font-size: 17px;
    display:flex;
    justify-content: space-between;
    align-items: center ;
    height: 60px;
    padding: 20px 0;
}
.nav-brand{
    width: 50px;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px ;

}
.nav-main ul li a:hover{
    border-bottom: 2px solid black;
}
.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;

}